$text-blue: #010a60;

.circleContainer {
  display: flex;
  justify-content: center;
}

.inputsContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.circle {
  align-self: center;
  margin: 5% 0;
  height: 30%;
  width: 30%;
}

.input {
  border: 1px solid #040464;
  // margin-left: 45%;
  border-radius: 17.5%;
  height: 3em;
  width: 30%;
  margin-left: 20%;
  text-align: center;
}

.secondInputContainer {
  margin-top: 10%;
}

.inputTag {
  margin-left: 5%;
}

.female {
  color: #ffa52e;
}

.male {
  color: #7b3ff2;
}
.percentSign {
  color: $text-blue;
}

.error {
  color: red;
  margin-left: 2em;
}
